@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: #FFFFFF;
    font-family: Inter Tight;
}

.muted {
    color: #D7DDE9;
}

input[type="checkbox"] {
    appearance: none;
    width: 25px;
    height: 25px;
    border: 0.15em solid #ccc;
    border-radius: 0.15em;
}

input[type="checkbox"]:checked {
    background: #A0DCF6;
    border: 1px solid #0796D3;
    position: relative;
}

input[type="checkbox"]::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: #0796D3;
    transform-origin: bottom left;
    clip-path: polygon(15% 55%, 0 50%, 40% 90%, 80% 16%, 90% 0%, 35% 70%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1) translate(20%, 10%);
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom: 1px solid #D7DDE9;
    gap: .5rem;
}

nav h1 {
    font-family: Inter Tight;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.04px;
    letter-spacing: -0.02em;
    text-align: left;
}

nav div:last-child {
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #0000008A;
}

@media screen and (max-width: 768px) {
    nav {
        grid-template-columns: 1fr;
        padding-bottom: 1rem;
        gap: 0;
    }
}